<nav class="w-full px-8 py-4 bg-[#faf7f2]">
  <div
    class="max-w-7xl mx-auto
           bg-[#ded6cf]
           rounded-[15px]
           px-10 py-1
           flex items-center justify-between"
  >
  
    <div class="flex items-center ">
      <img
        src="assets/Frame 23.png"
        alt="Artisanal Bowls"
        class="w-16 h-16 "
      />
       
    </div>

    <!-- Menu -->
    <ul
      class="hidden md:flex items-center gap-12
             text-[17px] font-semibold text-[#2f2f2f]"
    >
      <li><a href="#home" class="cursor-pointer hover:opacity-80">Home</a></li>
      <li><a href="#products" class="cursor-pointer hover:opacity-80">Product</a></li>
      <li><a href="#about" class="cursor-pointer hover:opacity-80">About Us</a></li>
      <li><a href="#testimonial" class="cursor-pointer hover:opacity-80">Testimonial</a></li>
    </ul>



    <button> <a href="#contact"
      class="bg-[#BE725A]
             text-white
             px-8 py-3
             rounded-[15px]
             text-[16px]
             font-medium
             hover:opacity-90
             transition"
             id="contact"
    >
      Contact Us
    </a>
    </button>
  </div>
</nav>
