<section id="home" class="w-full bg-[#faf7f2] px-10 py-0">
  <div
    class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20 items-center"
  >
   
    <div class="relative w-full flex justify-center">
 
    <div
      class="relative w-[520px] h-[660px]
            overflow-hidden
            rounded-t-[220px] rounded-b-[40px]
            z-10">

      <img
        src="assets/Group-1.png"
        alt="Ceramic bowl"
        class="w-100 h-100 object-cover"
      />
    </div>
  </div>


    <div class="max-w-xl font-sans">

  <p class="text-[28px] text-[#050505] mb-6 font-normal tracking-wide">
    Summer Collection
  </p>


  <h1 class="text-[55px]  leading-[1.15] font-medium text-[#1F2937]">
    Artisan Bowls
    <span class="block">
      <span class="text-[#BE725A] font-medium">Crafted</span>
      <span class="font-medium"> For Your</span>
    </span>
    <span class="block font-medium">Table</span>
  </h1>

  <!-- Description -->
  <p class="text-[24px] text-[#020202] leading-[1.8] mt-2 mb-2 max-w-[480px]">
    <span class="font-medium"> Discover the perfect blend of artisan </span>
    <span class="font-medium">craftsmanship and timeless design. Each piece</span>
    <span class="font-medium">Is Carefully Shaped And Glazed To Bring Beauty
    </span>
    <span class="font-medium">To Your Table.</span>
  </p>

  <!-- Stats -->
  <div class="flex gap-20 mt-12">
    <div>
      <p class="text-[45px] font-semibold text-[#BE725A]">2K+</p>
      <p class="text-[16px] text-[#374151] font-semibold mt-0">
        Happy Customers
      </p>
    </div>

    <div>
      <p class="text-[45px] font-semibold text-[#BE725A]">500+</p>
      <p class="text-[16px] text-[#374151] font-semibold mt-0">
        Products
      </p>
    </div>

    <div>
      <p class="text-[45px] font-semibold text-[#BE725A]">
        4.9<span class="ml-1 text-[#BE725A]">★</span>
      </p>
      <p class="text-[16px]  text-[#374151] font-semibold mt-0">
        Average Rating
      </p>
    </div>
  </div>

  <!-- Buttons -->
  <div class="flex gap-6 mt-14">
    <button
      class="bg-[#BE725A] text-white
             px-10 py-4
             rounded-[16px] text-[16px] font-medium
             hover:opacity-90 transition"
    >
      Shop Now
    </button>

    <button
      class="border border-[#BE725A]
             text-[#BE725A]
             px-10 py-4
             rounded-[16px] text-[16px] font-medium
             hover:shadow-slate-500 hover:border-slate-200 transition"  id="Collection"
    >
      View Collection
    </button>
  </div>

</div>
  </div>
</section>
